.formContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .formTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formInput {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .formButton {
    width: 100%;
    padding: 10px;
    background-color: #645d3b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .formButton:hover {
    background-color: black;
  }
  
  .formTextarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }