.footer {
    display: flex;
    justify-content: space-between; /* Space items evenly */
    align-items: center;
    background-color: #d9bba8;
    padding: 1.5rem; /* More padding for better spacing */
  }
  
  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
  }
  
  .footerName {
    font-size: 1.8rem; /* Larger font size for the heading */
    font-weight: bold;
    margin: 0 0 0.5rem 0; /* Margin bottom for spacing */
  }
  
  .footerText {
    margin: 0; /* Remove default margin */
  }
  
  .footerList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    gap: 0.5rem; /* Smaller gap for better spacing */
  }
  
  .footerItem a {
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
    color: #645d3b; 
  }
  
  .footerItem a:hover {
    color: #fff; /* Change color on hover */
    text-decoration: underline;
  }
  
  .footerIcons {
    display: flex;
    gap: 1rem; /* Space between icons */
  }
  
  .iconLink {
    color: #645d3b; /* Icon color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .iconLink:hover {
    color: #fff; /* Change color on hover */
  }
  
  .icon {
    font-size: 1.5rem; /* Icon size */
  }